<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

<b>Sejal Santosh Nimbhorkar</b> <br>
IT Professional

<i>I am interested in data science because i like to understand andplay around data to identify effect in business</i>

### My code in cell 5 is to find the sum of 2+2

In [4]:
2 + 2

4

- Bullet List
    - Bullet 1
    - Bullet 2
    
#### Horiontal Rule
<hr> _________________________ </hr>


Number List
1. Number 1
1. Number 3


#### Table Creattion

|Number|Registration Number|Country|
|------|-------------------|-------|
|  1   |    101            |Sweden |
|  2   |    102            |India  |
|  3   |    103            |USA    |